{% extends 'layout/guest/_index.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/login_cover.png') }}" alt="Connexion"/>

        <h1>
            <small>Rejoindre la QuizzySphere :</small>
            Connectez-vous
        </h1>
    </section>

    <form method="post" class="app-form">
        <fieldset class="form-fieldset">
            <div class="form-group">
                <label for="inputEmail" class="form-label required">Adresse e-mail</label>
                <input type="email"
                       value="{{ last_username }}"
                       name="email"
                       id="inputEmail"
                       class="form-control"
                       autocomplete="email"
                       required
                       autofocus/>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="form-label required">Mot de passe</label>
                <input type="password"
                       name="password"
                       id="inputPassword"
                       class="form-control"
                       autocomplete="current-password"
                       required>
            </div>
        </fieldset>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="app-btn cta" type="submit">Connexion</button>

        <hr/>

        <p class="text-center">
            <strong>
                <small>Je n'ai pas encore mon compte dans la QuizzySphere :</small>
                <a href="{{ path('app_register') }}" class="app-btn">
                    Je m'inscris
                </a>
            </strong>
        </p>
    </form>
{% endblock %}
