.app-header {
  position: sticky;
  top: 0;
  z-index: 9998;
  @include displayFlex(space-between, center, 1rem);
  padding: 0 1rem;
  background-color: $white;

  @include respondTo(md) {
    background-color: $fifth;
  }

  @import "../../components/logo";
  @import "../../components/sitename";
}
