.app-main {
  margin-bottom: 4rem;

  section {
    padding: 1.5rem 1rem;

    &:first-child {
      padding-top: 2rem;
      background-color: rgba($fifth, 0.15);
    }

    &:last-child {
      padding-bottom: 2rem;
    }
  }
}
