.app-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 2;
  @include displayFlex(center, center);
  background-color: $white;

  @include respondTo(sm) {
    position: static;
    bottom: initial;
    left: initial;
    right: initial;
    background-color: transparent;
  }

  a,
  .app-dropdown {
    flex: 1;
    display: block;
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    color: $primary;
    border-radius: 0.5rem;

    @include respondTo(sm) {
      font-size: 1.25rem;
    }

    i,
    svg {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 0.25rem;

      @include respondTo(sm) {
        display: initial;
      }
    }

    &.active {
      color: $secondary;

      @include respondTo(sm) {
        background-color: $white;
      }
    }

    .dropdown-content {
      position: fixed;
      bottom: 3rem;
      left: 0;
      right: 0;

      @include respondTo(sm) {
        position: absolute;
        bottom: initial;
        left: 0;
        right: 0;
      }

      a {
        font-size: 1rem;
      }
    }
  }
}

