{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Nouveau Quizz{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>

        <h1>
            <small>Les Quizzs :</small>
            <br/>
            Nouveau Quizz
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_quizz_index') }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Retour à la liste
        </a>
    </section>

    {{ include('admin/quizz/_form.html.twig') }}
{% endblock %}
