{% extends 'layout/guest/_index.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block main %}
    <section>
        <h1>Conditions Générales d'Utilisation</h1>
    </section>

    <section>
        <h2>Introduction</h2>
        <p>
            Bienvenue sur QuizzySphere, l'Application de Quizz Collaborative et Personnalisable, alimentée par Symfony.
            L'utilisation de QuizzySphere est soumise aux conditions décrites ci-dessous. En accédant à QuizzySphere et
            en utilisant nos services, vous acceptez ces conditions dans leur intégralité. Si vous n'acceptez pas ces
            conditions, veuillez ne pas utiliser QuizzySphere.
        </p>
    </section>
    <section>
        <h2>Caractéristiques Principales</h2>

        <dl>
            <dt>
                <i class="fa-solid fa-cubes"></i>
                Diversité des Quizz
            </dt>
            <dd>
                QuizzySphere offre des quizz couvrant divers domaines, de la culture générale à la science, en passant
                par la musique et l'histoire, adaptés à différents niveaux de compétence.
            </dd>

            <dt>
                <i class="fa-solid fa-cube"></i>
                Création de Quizz Personnalisés
            </dt>
            <dd>
                Les utilisateurs peuvent créer leurs propres quizz, en personnalisant les thèmes, les questions, les
                options de réponses et le niveau de difficulté.
            </dd>

            <dt>
                <i class="fa-solid fa-cube"></i>
                Interface Utilisateur Intuitive
            </dt>
            <dd>
                Notre interface utilisateur est conçue pour garantir une expérience fluide et agréable lors de la
                navigation et de la participation aux quizz.
            </dd>

            <dt>
                <i class="fa-solid fa-cube"></i>
                Système de Points et Classements
            </dt>
            <dd>
                Les utilisateurs accumulent des points pour chaque bonne réponse et peuvent participer à des classements
                pour mesurer leur performance.
            </dd>

            <dt>
                <i class="fa-solid fa-cube"></i>
                Interaction Communautaire
            </dt>
            <dd>
                Les utilisateurs peuvent partager leurs quizz préférés, défier leurs amis et la communauté, favorisant
                ainsi l'interaction.
            </dd>

            <dt>
                <i class="fa-solid fa-cube"></i>
                Feedback Immédiat et Éducatif
            </dt>
            <dd>
                Les utilisateurs reçoivent des explications détaillées après chaque réponse pour enrichir leurs
                connaissances.
            </dd>
        </dl>
    </section>

    <section>
        <h2>Caractéristiques Avancées</h2>

        <dl>
            <dt>
                <i class="fa-solid fa-cubes"></i>
                Gestion Complète des Quizz
            </dt>
            <dd>
                Les administrateurs peuvent créer des quizz dans diverses catégories et sous-catégories pour une
                organisation optimale.
            </dd>

            <dt>
                <i class="fa-solid fa-cubes"></i>
                Groupes d'Utilisateurs
            </dt>
            <dd>
                Créez et gérez des groupes d'utilisateurs pour une expérience de quizz ciblée et communautaire.
            </dd>

            <dt>
                <i class="fa-solid fa-cubes"></i>
                Inscription Libre et Groupes
            </dt>
            <dd>
                Les utilisateurs peuvent s'inscrire librement et choisir de rejoindre des groupes d'utilisateurs
                existants.
            </dd>

            <dt>
                <i class="fa-solid fa-cubes"></i>
                Flexibilité des Questions et Réponses
            </dt>
            <dd>
                Chaque quizz peut comporter un nombre variable de questions, avec un nombre fixe de réponses possibles
                par question, permettant diverses configurations.
            </dd>

            <dt>
                <i class="fa-solid fa-cubes"></i>
                Feedback et Corrections
            </dt>
            <dd>
                À la fin de chaque quizz, les résultats et les bonnes réponses sont révélés, accompagnés de corrections
                détaillées.
            </dd>

            <dt>
                <i class="fa-solid fa-cubes"></i>
                Évaluation et Notation
            </dt>
            <dd>
                Les résultats des quizz sont convertis en notes sur 20, offrant un moyen quantifiable d'évaluer les
                connaissances.
            </dd>

            <dt>
                <i class="fa-solid fa-cubes"></i>
                Participation Unique avec Exceptions
            </dt>
            <dd>
                Les utilisateurs ne peuvent participer à un quizz qu'une seule fois pour obtenir une note, à moins que
                l'administrateur ne décide autrement.
            </dd>
        </dl>
    </section>

    <section>
        <h2>Sécurité et Performance</h2>
        <p>
            QuizzySphere accorde une grande importance à la sécurité et à la performance. Vos informations personnelles
            sont protégées par un système d'authentification solide, et l'application est optimisée pour une expérience
            fluide et sans erreur.
        </p>
    </section>

    <section>
        <h2>Expérience Mobile Optimale</h2>
        <p>
            QuizzySphere est entièrement adapté à tous les appareils mobiles, vous offrant une expérience de quizz
            optimale où que vous soyez.
        </p>
    </section>

    <section>
        <h2>Pourquoi Choisir QuizzySphere ?</h2>
        <p>
            QuizzySphere n'est pas seulement une application de quizz, c'est une communauté de partage de connaissances,
            de défis intellectuels et de plaisir d'apprendre. Que vous soyez un administrateur cherchant à créer des
            parcours d'apprentissage structurés ou un utilisateur désireux de tester et d'améliorer vos connaissances,
            QuizzySphere est là pour vous.
        </p>
    </section>

    <section>
        <h2>Rejoignez la Communauté QuizzySphere</h2>
        <p>
            Prêt à plonger dans l'aventure du savoir ? Inscrivez-vous dès maintenant et découvrez pourquoi QuizzySphere
            est la nouvelle référence en matière d'applications de quizz !
        </p>
    </section>
{% endblock %}
