{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Administration{% endblock %}

{% block main %}
    <section>
        <h1>Administration</h1>
        <p>Gérez les paramètres, les Quizzs et les Utilisateurs.</p>
    </section>
{% endblock %}
