/** TEXT ALIGNMENTS **/
.text-center {
  text-align: center !important;
}

/** TEXT SIZES **/
.big {
  font-size: 2.5rem !important;
  font-weight: 600 !important;

  small {
    font-size: 0.5em;
    opacity: 0.5;
  }
}

/** TEXT COLORS **/
.text-success {
  color: $success !important;
}

.text-info {
  color: $info !important;
}

.text-warning {
  color: $warning !important;
}

.text-danger {
  color: $danger !important;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-third {
  color: $third !important;
}

.text-fourth {
  color: $fourth !important;
}

/**BACKGROUND COLORS **/
.bg-danger {
  color: $white !important;
  background-color: $danger !important;
}

/** DISABLED ELEMENTS **/
.disabled {
  opacity: 0.5;
}
