/** FONTS **/
$fontPrimary: 'Montserrat', sans-serif;

/** COLORS **/
$black: #222222;
$white: #ffffff;
$primary: #043665;
$secondary: #ff1c61;
$third: #9ff8f6;
$fourth: #f8d0ba;
$fifth: #96accb;
$info: #317ac1;
$success: #679436;
$warning: #f26619;
$danger: #a33705;
