.app-card {
  @include displayFlex(space-between, center, 1rem, column);
  padding: 0.5rem;
  text-align: center;
  background-color: $third;
  border-radius: 0.5rem;

  &:has(a) {
    display: block;
    background-color: $fourth;

    & > a {
      @include displayFlex(space-between, center, 1rem, column);
      text-decoration: none;
      color: inherit;

      .card-body {
        p {
          margin: 1rem 0 !important;
        }
      }
    }
  }

  .card-header {
    align-self: flex-start;
  }

  .card-body {
    align-self: center;
  }

  .card-footer {
    align-self: flex-end;
  }
}
