.app-grid {
  @include displayGrid;
  margin-bottom: 0.5rem;

  &.two {
    grid-template-columns: repeat(2, 1fr);
  }

  &.third {
    grid-template-columns: 4fr 6fr;

    &.reverse {
      grid-template-columns: 6fr 4fr;
    }
  }

  &.no-xs {
    @include respondTo(xs) {
      grid-template-columns: 1fr;
    }
  }
}
