<header class="app-header">
    <a href="{{ path('app_home') }}" class="app-logo">
        <img src="{{ asset('img/logo.png') }}" alt="Logo QuizzySphere"/>
    </a>

    <a href="{{ path('app_home') }}" class="app-sitename">Quizzy<span>Sphere</span></a>

    {% include 'layout/admin/_navigation.html.twig' %}

    {% include 'layout/admin/_profile.html.twig' %}
</header>
