<nav class="app-navigation">
    <a href="{{ path('app_home') }}"
       {% if app.request.get('_route') == 'app_admin_index' %}class="active"{% endif %}>
        <i class="fa-solid fa-house-chimney"></i>
        Accueil
    </a>

    <div class="app-dropdown" data-controller="dropdown--index">
        <i class="fa-solid fa-users"></i>
        Utilisateurs
        <input type="checkbox"/>
        <div class="dropdown-content">
            <a href="{{ path('app_admin_usergroup_index') }}"
               {% if 'app_admin_usergroup_' in app.request.get('_route') %}class="active"{% endif %}>
                <i class="fa-solid fa-users-viewfinder"></i>
                Groupes Utilisateurs
            </a>
            <a href="{{ path('app_admin_user_index') }}"
               {% if 'app_admin_user_' in app.request.get('_route') %}class="active"{% endif %}>
                <i class="fa-solid fa-users"></i>
                Tous les Utilisateurs
            </a>
        </div>
    </div>

    <div class="app-dropdown" data-controller="dropdown--index">
        <i class="fa-solid fa-sliders"></i>
        Paramètres
        <input type="checkbox"/>
        <div class="dropdown-content">
            <a href="{{ path('app_admin_settings_users') }}"
               {% if 'app_admin_settings_' in app.request.get('_route') %}class="active"{% endif %}>
                <i class="fa-solid fa-users-viewfinder"></i>
                Paramètres Utilisateurs
            </a>
        </div>
    </div>
</nav>
