<section>
    <h2>Quizzs recommandés</h2>

    <div class="app-grid">
        <div class="app-card">
            <a href="#">
                <div class="card-body text-primary">
                    Le Web
                    <p class="big">Histoire du Web</p>
                </div>
                <div class="card-footer">
                    <small>
                        <i class="fa-solid fa-circle-question"></i>
                        10 questions
                    </small>
                </div>
            </a>
        </div>
    </div>
</section>
