<ol class="question">
    {% for question in quizz.questions %}
        {% set userAnswer = null %}
        {% for attemptAnswer in userAttempt.attemptAnswers %}
            {% if attemptAnswer.question.id == question.id %}
                {% set userAnswer = attemptAnswer %}
            {% endif %}
        {% endfor %}

        <li class="app-dropdown {% if userAnswer and userAnswer.score == 1 %}success{% elseif userAnswer and userAnswer.answer == null %}empty{% else %}danger{% endif %}">
            <input type="checkbox"/>
            {{ question.text | raw }}

            <div class="dropdown-content">
                <p class="mb-1 text-center">
                    {% if userAnswer and not userAnswer.answer %}
                        <strong class="text-warning">
                            &nbsp;<i class="fa-solid fa-ban"></i>
                            <small>Vous n'avez pas répondu à cette question</small>
                        </strong>
                    {% elseif userAnswer and userAnswer.score == 1 %}
                        <strong class="text-success">
                            &nbsp;<i class="fa-solid fa-check-circle"></i>
                            <small>Bonne réponse !</small>
                        </strong>
                    {% else %}
                        <strong class="text-danger">
                            <i class="fa-solid fa-circle-xmark"></i>
                            <small>Mauvaise réponse</small>
                        </strong>
                    {% endif %}
                </p>

                {% if question.answers | length > 0 %}
                    <ol type="A">
                        {% for answer in question.answers %}
                            <li class="{% if answer.correct %}text-success{% elseif not answer.correct and (userAnswer and answer == userAnswer.answer) %}text-danger{% endif %}">
                                <strong>{{ answer.text }}</strong>
                                {% if answer.help %}
                                    <p>
                                        {{ answer.help }}
                                    </p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ol>
