<section class="alt">
    <h2>Quizzs à terminer</h2>

    <div class="app-grid">
        <div class="app-card">
            <a href="#">
                <div class="card-header">
                    <i class="fa-solid fa-stopwatch"></i>
                    <strong>30s</strong>
                </div>
                <div class="card-body text-primary">
                    Développement web
                    <p class="big">JavaScript</p>
                    <strong>avancé</strong>
                </div>
                <div class="card-footer">
                    <small>
                        <i class="fa-solid fa-circle-question"></i>
                        1/10
                    </small>
                </div>
            </a>
        </div>
    </div>
</section>
