{% extends 'layout/default/_index.html.twig' %}

{% block title %}Les Quizzs{% endblock %}

{% block main %}

    <section class="bg-image">
        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>

        <h1>
            <small>Les Quizzs :</small>
            <br/>
            Choisissez votre challenge !
        </h1>
    </section>

    {% if false %}
        <section>
            <h2>Quizzs à terminer</h2>
            {% include 'quizz/_grid.html.twig' with {'warning': true} %}
        </section>
    {% endif %}

    {% set quizzs = app_quizzService.collectQuizzsFromCategories(quizzCategories, app.user) %}
    {% if quizzs | length > 0 %}
        <section class="alt">
            <h2>
                {{ quizzs | length }}
                Quizz{% if quizzs | length > 1 %}s{% endif %}
                à réaliser
            </h2>
            {% include 'quizz/_grid.html.twig' %}
        </section>
    {% endif %}

    {% if app.user.attempts | length > 0 %}
        {% set quizzs = [] %}
        {% for attempt in app.user.attempts %}
            {% if attempt.quizz.active and not attempt.endedAt %}
                {% set quizzs = quizzs | merge([attempt.quizz]) %}
            {% endif %}
        {% endfor %}
        {% if quizzs | length > 0 %}
            <section>
                <h2>
                    {{ quizzs | length }}
                    Quizz{% if quizzs | length > 1 %}s{% endif %}
                    à terminer
                </h2>
                {% include 'quizz/_grid.html.twig' with {'quizzs': quizzs, 'warning': true} %}
            </section>
        {% endif %}
    {% endif %}

    {% if app.user.attempts | length > 0 %}
        {% set quizzs = [] %}
        {% for attempt in app.user.attempts %}
            {% if attempt.quizz.active and attempt.endedAt %}
                {% set quizzs = quizzs | merge([attempt.quizz]) %}
            {% endif %}
        {% endfor %}
        {% if quizzs | length > 0 %}
            <section>
                <h2>
                    {{ quizzs | length }}
                    Quizz{% if quizzs | length > 1 %}s{% endif %}
                    terminé{% if quizzs | length > 1 %}s{% endif %}
                </h2>
                {% include 'quizz/_grid.html.twig' with {'quizzs': quizzs, 'success': true} %}
            </section>
        {% endif %}
    {% endif %}
{% endblock %}
