{% extends 'layout/default/_index.html.twig' %}

{% block title %}Les Quizzs{% endblock %}

{% block main %}

    <section class="bg-image">
        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>

        <h1>
            <small>Les Quizzs :</small>
            <br/>
            Choisissez votre challenge !
        </h1>
    </section>

    {% if false %}
        <section>
            <h2>Quizzs à terminer</h2>
            {% include 'quizz/_grid.html.twig' with {'warning': true} %}
        </section>
    {% endif %}

    {% set quizzs = app_quizzService.collectQuizzsFromCategories(quizzCategories, app.user) %}
    <section class="alt">
        <h2>
            {{ quizzs | length }}
            Quizz{% if quizzs | length > 1 %}s{% endif %}
            recommandé{% if quizzs | length > 1 %}s{% endif %}
        </h2>
        {% include 'quizz/_grid.html.twig' %}
    </section>

    {% if app.user.attempts | length > 0 %}
        {% set quizzs = [] %}
        {% for attempt in app.user.attempts %}
            {% set quizzs = quizzs | merge([attempt.quizz]) %}
        {% endfor %}
        <section>
            <h2>
                {{ app.user.attempts | length }}
                Quizz{% if app.user.attempts | length > 1 %}s{% endif %}
                terminé{% if app.user.attempts | length > 1 %}s{% endif %}
            </h2>
            {% include 'quizz/_grid.html.twig' with {'quizzs': quizzs, 'success': true} %}
        </section>
    {% endif %}
{% endblock %}
