{% extends 'layout/default/_index.html.twig' %}

{% block title %}Les Quizzs{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>

        <h1>
            <small>Les Quizzs :</small>
            <br/>
            Choisissez votre challenge !
        </h1>
    </section>

    <section>
        <h2>Quizzs à terminer</h2>
        {% include 'quizz/_grid.html.twig' with {'warning': true} %}
    </section>

    <section class="alt">
        <h2>Quizzs recommandés</h2>
        {% include 'quizz/_grid.html.twig' %}
    </section>

    {# <section>
        <h2>Parcourez les Catégories</h2>

        {% include 'quizzcategory/_grid.html.twig' %}
    </section> #}
{% endblock %}
